{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }


    </style>

</head>
<body>
<main>
    <div class="b-example-divider"></div>
    <div class="container col-xxl-9 px-4 py-5">
        <div class="row row-cols-1">
            <div class="col row-cols-1 row-cols-xxl-2">
                <h1 class="display-3 fw-bold lh-1 mb-3">Привет!</h1>
                <h1 class="display-5 fw lh-1 mb-3">Меня зовут Костя, это я:</h1>
            </div>
            <div class="col">
                <div class="row row-cols-1 row-cols-xxl-3 g-1">
                    <div class="col">
                        <div class="card shadow h-80 rounded-4" style="width: 18rem;">
                            <img src="{% static 'mainpage/Kostya-1.jpg' %}"
                                 class="d-block mx-lg-auto img-fluid rounded-4"
                                 loading="lazy">
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow h-80 rounded-4" style="width: 18rem;">
                            <img src="{% static 'mainpage/Kostya-2.jpg' %}"
                                 class="d-block mx-lg-auto img-fluid rounded-4"
                                 loading="lazy">
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow h-100 rounded-4" style="width: 18rem;">
                            <img src="{% static 'mainpage/Kostya-3.jpg' %}"
                                 class="d-block mx-lg-auto img-fluid rounded-4"
                                 loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-example-divider"></div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'mainpage/moscow.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                     loading="lazy" width="700" height="500">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Мой родной город:</h1>
                <p class="lead">Я живу в городе Москва, на оранжевой ветке</p>
            </div>
        </div>
    </div>
    <div class="b-example-divider"></div>
    <div class="container col-xxl-8 px-4 py-5">
        <h2 class="pb-2 border-bottom">Я увлекаюсь:</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-4 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover  overflow-hidden text-bg-dark rounded-4 shadow-lg"
                     style="background-image: url('static/mainpage/gaming.jpg'); height: 36rem; width: 18rem;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-12 lh-1 fw-bold">Играю в хардкорные стратегии и песочницы</h3>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                     style="background-image: url('static/mainpage/programing.jpg'); height: 36rem; width: 18rem;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-9 lh-1 fw-bold">Иногда развлекаюсь проектами, сейчас пишу игру на Rust</h3>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                     style="background-image: url('static/mainpage/anime.jpg'); height: 36rem; width: 18rem;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-9 lh-1 fw-bold">Смотрю аниме, иногда читаю мангу или ранобэ</h3>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                     style="background-image: url('static/mainpage/strikeball.jpg'); height: 36rem; width: 18rem;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-example-divider"></div>
    <div class="container col-xxl-8 px-4 py-5">
    </div>
    <div class="b-example-divider"></div>
</main>
<footer>

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>